{% extends 'base.html.twig' %}

{% block title %}Service Details{% endblock %}

{% block body %}
<div class="mx-auto w-4/5 pt-10">
    <div class="bg-white shadow-lg rounded-lg p-6 transition-transform transform hover:scale-105 text-center">
        <h2 class="text-2xl font-semibold mb-4 text-blue-600">{{ service.title }}</h2>
        {% if service.img %}
            <img src="{{ service.img }}" alt="{{ service.title }}" class="rounded-lg mb-4 mx-auto">
        {% else %}
            <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Fpremium-vector%2Fdefault-image-icon-vector-missing-picture-page-website-design-mobile-app-no-photo-available_33011701.htm&psig=AOvVaw2APU6WWMRUBYWNfPYw7nS7&ust=1730634624938000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCJCEjsLKvYkDFQAAAAAdAAAAABAJ@" alt="Default Image" class="mx-auto rounded-lg mb-4">  {# Fallback image if none provided #}
        {% endif %}
        <p class="text-gray-700 mb-2">{{ service.description }}</p>
        <p class="text-gray-600 italic mb-2">Type: <span class="font-normal">{{ service.type }}</span></p>
        <p class="text-gray-600 italic mb-2">Duration: <span class="font-normal">{{ service.duration }} minutes</span></p>
        <p class="text-gray-600 italic mb-2">Price: <span class="font-normal">{{ service.price }} €</span></p>
        <p class="text-gray-600">Address: <span class="font-normal">{{ service.adress }}, {{ service.code }} {{ service.city }}</span></p>
        
        <a href="{{ path('app_book', { 'id': service.id }) }}" class="mt-4 inline-block bg-blue-600 text-white font-semibold py-2 px-4 rounded hover:bg-blue-700 transition duration-200">
            Book Now
        </a>
    </div>
</div>
{% endblock %}
